<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' type='text/css'
          href='stylesheets/base-min.css'>
    <link rel='stylesheet' type='text/css'
          href='/stylesheets/fonts-min.css'>
    <link rel='stylesheet' type='text/css'
          href='/stylesheets/main.css'>
    <style>
      th, td {
        padding:0;
        border:0;
      }
      th {
        text-align:left;
      }
      th.arrow, td.arrow {
        width:50px;
        text-align:center;
      }
    </style>
    <!-- AJAX Library -->
    <!-- Dependency -->
    <script src="/javascript/yahoo-min.js"></script>
    <!-- Used for Custom Events and event listener bindings -->
    <script src="/javascript/event-min.js"></script>
    <!-- Source file -->
    <script src="/javascript/connection-min.js"></script>
  </head>
  <body>
    <h2>Created.</h2>

    <div class="box">
      <div class="section">
        <div class="label">
          <div class="title">Step 1. (Optional) See who has who</div>
          <div class="description">Might ruin to the fun for you.</div>
        </div>
        <button id="show_assignments" onclick="show_assignments()">
          + Show Assignments
        </button>

        <div class="table" id="assignments" style="display:none;">
          <table>
            <tr><th>From</th><th class="arrow">&raquo;</th><th>To</th></tr>
            {% for assignment in assignments.items %}
            <tr>
              <td>
                {% if assignment.0.name %}
                  {{ assignment.0.name }} ({{ assignment.0.email }})
                {% else %}
                  {{ assignment.0.email }}
                {% endif %}
              </tD>
              <td class="arrow">&raquo;</tD>
              <td>
                {% if assignment.1.name %}
                  {{ assignment.1.name }} ({{ assignment.1.email }})
                {% else %}
                  {{ assignment.1.email }}
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="section">
        <div class="label">
          <div class="title">Step 2. Customize Email</div>
          <div class="description">In case you want to give people more info about the game like price, location, etc.</div>
        </div>
        <textarea id="email_body" name="email_body" rows="3"
                  style="width:100%;padding:5px;"
                  onblur="save_email_body()">{{ email_body }}</textarea>
      </div>
    </div>

    <div class="box">
      <div class="section">
        <div class="label">
          <div class="title">Step 3. Send emails</div>
          <div class="description">So everyone knows who they have.  Each person gets their own personal email.</div>
        </div>
        <div style="height:20px;">
          <button style="float:left;margin-right:4px" id="email"
                  onclick="send_emails()">
            Send Emails &raquo;
          </button>
          <div id="email_processing"
               style="display:none;position:relative;top:5px;margin-left:5px">
            <img src="/images/ajax-loader.gif" border=0 height=16 width=16>
          </div>
          <div id="email_done"
               class="LV_validation_message LV_valid" style="display:none">
            <!-- TODO(jesses): stop repeating this 2714 character -->
            &#x2714; <span style="font-size:77%">Done!</span>
          </div>
          <div id="email_error"
               class="LV_validation_message LV_invalid" style="display:none">
            <!-- TODO(jesses): stop repeating this 2716 character -->
            &#x2716; <span style="font-size:77%">
              There was a problem.  Please try again later.
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="next_box">
      <div class="section" style="text-align:right">
        <button class="submit" id="finish" onclick="document.location='/manage?code={{ code }}'">Finish &raquo;</button>
      </div>
    </div>

    <script>
      function show_assignments() {
        document.getElementById("show_assignments").disabled = true;
        document.getElementById("assignments").style.display = "block";
      }

      function save_email_body() {
          var email_body = document.getElementById("email_body").value;
          var transaction = YAHOO.util.Connect.asyncRequest('POST', "/save/email", null, "code={{ code }}&email_body=" + encodeURIComponent(email_body));
      }

      var send_emails_callback = {
        success: function(o) {
          if (o.responseText == "OK") {
            document.getElementById("email_processing").style.display = "none";
            document.getElementById("email_done").style.display = "block";
            document.getElementById("finish").disabled = false;
          }
        },
        failure: function(o) {
          document.getElementById("email").disabled = false;
          document.getElementById("email_processing").style.display = "none";
          document.getElementById("email_error").style.display = "block";
        },
      }

      function send_emails() {
        if (confirm("Sending emails to everyone?  Are you sure?")) {
          document.getElementById("email").disabled = true;

          // these two need to get shown just in case we re-enabled the button
          // due to an email failure
          document.getElementById("email_error").style.display = "none";
          document.getElementById("email_done").style.display = "none";

          document.getElementById("email_processing").style.display = "block";

          var email_body = document.getElementById("email_body").value;
          var transaction = YAHOO.util.Connect.asyncRequest(
            'POST',
            "/email",
            send_emails_callback,
            "code=" +
            encodeURIComponent("{{ code }}") +
            "&email_body=" +
            encodeURIComponent(email_body));
        }
      }

      // on load
      document.getElementById("show_assignments").disabled = false;
      document.getElementById("email").disabled = false;
    </script>
  </body>
  {{ debug_log }}
</html>
