<html>
  <head>
    <title>{{ title }}</title>
    <link type="text/css"
          href="stylesheets/main.css"
          rel="stylesheet" />
    <link type="text/css"
          href="stylesheets/custom-theme/jquery-ui-1.7.2.custom.css"
          rel="stylesheet" />
    <script type="text/javascript"
            src="/javascript/jquery-1.3.2.min.js"></script>
    <script type="text/javascript"
            src="/javascript/jquery-ui-1.7.2.custom.min.js"></script>
  </head>
  <body>
    <h2>Created.</h2>

    <div class="box">
      <div class="section">
        <div class="label">
          <div class="title">Step 1. (Optional) See who has who</div>
          <div class="description">Might ruin to the fun for you.</div>
        </div>
        <button id="show_assignments">
          + Show Assignments
        </button>
        <button id="hide_assignments" style="display:none">
          - Hide Assignments
        </button>

        <div class="table" id="assignments" style="display:none;">
          <table>
            <tr><th>From</th><th class="arrow">&raquo;</th><th>To</th></tr>
            {% for assignment in assignments.items %}
            <tr>
              <td>
                {% if assignment.0.name %}
                  {{ assignment.0.name }} ({{ assignment.0.email }})
                {% else %}
                  {{ assignment.0.email }}
                {% endif %}
              </tD>
              <td class="arrow">&raquo;</tD>
              <td>
                {% if assignment.1.name %}
                  {{ assignment.1.name }} ({{ assignment.1.email }})
                {% else %}
                  {{ assignment.1.email }}
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="section">
        <div class="label">
          <div class="title">Step 2. Send emails</div>
          <div class="description">So everyone knows who they have.  Each person gets their own personal email.</div>
        </div>
        <div>
          <button style="display:inline-block" id="email">
            Send Emails &raquo;
          </button>

          <span id="email_processing"
               style="display:none;position:relative;top:2px;margin-left:5px">
            <img src="/images/ajax-loader.gif" border=0 height=16 width=16>
          </span>
          <span id="email_done"
               class="LV_validation_message LV_valid" style="display:none">
            <!-- TODO(jesses): stop repeating this 2714 character -->
            &#x2714; <span style="font-size:77%">Done!</span>
          </span>
          <span id="email_error"
               class="LV_validation_message LV_invalid" style="display:none">
            <!-- TODO(jesses): stop repeating this 2716 character -->
            &#x2716; <span style="font-size:77%">
              There was a problem.  Please try again later.
            </span>
          </span>
        </div>
      </div>
    </div>

    <div class="next_box">
      <div class="section" style="text-align:right">
        <button class="submit" id="finish" onclick="document.location='/manage?code={{ code }}'">Finish &raquo;</button>
      </div>
    </div>

    <div id="dialog" class="box">
      <div class="section">
        <div class="label">
          <div class="description">In case you want to give people more info about the game like price, location, etc.  Shows up above the auto-generated content.</div>
        </div>
        <textarea id="email_body" name="email_body" rows="5"
                  style="width:100%;padding:5px;font-size:77%"
                  >{{ email_body }}</textarea>
      </div>
    </div>

    <script>
      function save_email_body() {
        var email_body = $("#email_body").val();
        $.post("/save/email", {
          code: encodeURIComponent("{{ code }}"),
          email_body: encodeURIComponent(email_body),
          }
        );
      }

      function send_emails() {
        save_email_body();
        $("#email").attr("disabled", "disabled");

        // these two need to get shown just in case we re-enabled the button
        // due to an email failure
        $("#email_error").hide();
        $("#email_done").hide();
        $("#email_processing").show();

        $.post("/email", {
          code: encodeURIComponent("{{ code }}")
          },
          function (data, textStatus) {
            if (textStatus == "success" && data == "OK") {
              $("#email_error").hide();
              $("#email_done").show();
              $("#email_processing").hide();
            } else {
              $("#email_error").show();
              $("#email_done").hide();
              $("#email_processing").hide();
            }
          });
      }

      // on load
      $(document).ready(function () {
        // enabled the buttons on load just in case this was a refresh
        // for refreshes in FF/Mac, the buttons don't get re-enabled
        $("#show_assignments").attr("disabled", "");
        $("#email").attr("disabled", "");
        $(".box").tabs();
        $("#show_assignments").click(function () {
          $("#show_assignments").toggle();
          $("#hide_assignments").toggle();
          $("#assignments").toggle("blind");
        });
        $("#hide_assignments").click(function () {
          $("#show_assignments").toggle();
          $("#hide_assignments").toggle();
          $("#assignments").toggle("blind");
        });

        $(":button").addClass("fg-button ui-state-default ui-corner-all");
        $(":button").hover(
          function(){
            $(this).addClass("ui-state-hover");
          },
          function(){
            $(this).removeClass("ui-state-hover");
          }
        );

        $("#dialog").dialog({
          autoOpen: false,
          modal: true,
          title: "Customize Email",
          draggable: false,
          width: 600,
          buttons: {
            "Send": function () {
              $(this).dialog("close");
              send_emails();
            },
            "Cancel": function () {
              $(this).dialog("close");
            }
          }
        });
      });
      $("#email").click(function () {
        $("#dialog").dialog("open");
      });
    </script>
  </body>
  {{ debug_log }}
</html>
