<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <META http-equiv="Content-Type" CONTENT="text/html; charset=iso-8859-1">
    <META NAME="Description" CONTENT="{{ meta_description }}">
    <META name="Keywords" content="{{ meta_keywords }}">
    <title>{{ title }}</title>
    <link type="text/css"
          href="stylesheets/main.css"
          rel="stylesheet" />
    <link type="text/css"
          href="stylesheets/{{ theme }}/jquery-ui-1.7.2.custom.css"
          rel="stylesheet" />
    <style>
      #email {
        position:relative;
        z-index:100;
      }
      label.long {
        width:160px;
      }
      .label2 {
        display:inline-block;
        width:100px;
        text-align:right;
      }
      .ui-datepicker {
        margin-left:300px;
        margin-top:-30px;
      }
      #myform .box {
        margin-top:45px;
      }
      .box .top {
        background:transparent url('images/santa/bg8-2.png') repeat scroll 0 0;
        height:37px;
        left:-7px;
        position:absolute;
        top:-27px;
        width:655px;
      }
      #box2 .top {
        background:transparent url('images/santa/bg10-2.png') repeat scroll 0 0;
      }
      .box .bottom {
        background:transparent url('images/santa/bg9.png') repeat scroll 0 0;
        bottom:-20px;
        height:23px;
        left:0;
        position:absolute;
        width:640px;
      }
      #box2 .bottom {
        background-position:30% 0%;
      }
      #box3 .bottom {
        background:transparent url('images/santa/bg11.png') repeat scroll 0 0;
        bottom:-60px;
        height:64px;
      }
      #container {
        background:transparent url('images/santa/bg3.png') repeat scroll 0 0;
        /* overflow-x:hidden; */
        width:100%;
        margin-bottom:40px;
      }
      #snow2 {
        background:transparent url('images/santa/bg5.png') repeat scroll 0 0;
        height:549px;
        position:absolute;
        right:17px;
        top:35px;
        width:226px;
      }
      #snow1 {
        background:transparent url('images/santa/bg4.png') repeat scroll 0 0;
        height:308px;
        left:81px;
        position:absolute;
        top:148px;
        width:139px;
      }
      #footer {
        background:transparent url('images/santa/bg12.png') repeat scroll 0 0;
        height:126px;
        margin-top:27px;
        width:956px;
        margin:0 auto;
      }
      #santa {
        background:transparent url('images/santa/bg6.png') repeat scroll 0 0;
        bottom:-187px;
        height:459px;
        left:-324px;
        position:absolute;
        width:341px;
      }
      #snowman {
        background:transparent url('images/santa/bg7.png') repeat scroll 0 0;
        bottom:-147px;
        height:323px;
        position:absolute;
        right:-278px;
        width:310px;
      }
    </style>
    <script type="text/javascript"
            src="/javascript/jquery-1.3.2.min.js"></script>
    <script type="text/javascript"
            src="/javascript/jquery-ui-1.7.2.custom.min.js"></script>
    <script src="/javascript/livevalidation_standalone.js"></script>
    <script src="/javascript/common.js"></script>
  </head>
  <body>
    {% if error %}
    <div class="error">
      {{ error }}
    </div>
    {% endif %}
  <div id="container">

    <h1>
      <img alt="Secret Santa Organizer" src="/images/santa/logo.png">
    </h1>
    <h2 style="text-align:right">
      Easier than pulling names from a hat.
    </h2>

    <div id="snow1"></div>
    <div id="snow2"></div>

    <form id="myform" action="/create" method="post">

    <div class="box">
        <div id="ads">
          <script type="text/javascript">
            <!--
                google_ad_client = "pub-1058195609102525";
                /* 120x600, created 12/4/09 */
                google_ad_slot = "0504422621";
                google_ad_width = 120;
                google_ad_height = 600;
                //-->
          </script>
          <script type="text/javascript"
                  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
          </script>
        </div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="section">
        <div class="LV_invalid" style="float:right">
          &#x2716;=<span style="font-size:77%">Required</span>,
          &#x2714;=<span style="font-size:77%">Good to go</span>
        </div>
        <div class="label">
          <div class="title">Step 1. Enter event dates and details.</div>
          <div class="description">You can change these later, too.</div>
        </div>
        <div>
          <label class="long">Spend Limit</label>
          <div class="label2">$</div>
          <input class="textfield" id="price"
                 name="price" value="{{ price }}">
          <br>
          <label class="long">Exchange Location</label>
          <div class="label2"></div>
          <input class="textfield" id="location"
                 name="location" value="{{ location }}">
          <br>
          <label class="long">Exchange Date</label>
          <div class="label2"></div>
          <select id="exchange_hour" name="exchange_hour">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8" selected>8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
          :
          <select id="exchange_min" name="exchange_min">
            <option value="0" selected>00</option>
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="45">45</option>
          </select>
          <select id="exchange_ampm" name="exchange_ampm">
            <option value="am">AM</option>
            <option value="pm" selected>PM</option>
          </select>
          &nbsp;on&nbsp;
          <br>
          <label class="long"></label>
          <div class="label2"></div>
          <input class="textfield" id="exchange_date"
                 name="exchange_date" value="{{ exchange_date }}">
        </div>
      </div>
    </div>

    <div class="box" id="box2">
      <div class="top"></div>
      <div class="bottom"></div>
        <div class="section">
          <div class="label">
            <div class="title">Step 2. Who to invite?</div>
            <div class="description">You can invite more later. They can respond yes or no, supply a gift hint, and even blacklist people.</div>
          </div>
          <div class="small" style="margin-top:3px">
            We'll never share you or your friends' info with
            anyone.  See our <a href="/privacy">privacy policy</a>.
          </div>
          <ol id="invitees">
          </ol>
          <input type="button" style="margin-top:10px;font-size:77%"
                 onclick="add_more_invitees();return false;"
                 value="+ Add more"/>
          <br><br>
          <label class="long">Sign-up Deadline:</label>
          <div class="label2">11:59pm on</div>
          <input class="textfield" id="signup_deadline"
                 name="signup_deadline" value="{{ signup_deadline }}">
          <label class="long"></label>
          <div class="label2"></div>
          <span style="font-size:77%">Participants have until this date to respond.</span>
          <label class="long"></label>
          <div class="label2"></div>
          <span class="small">Secret santa assignments will be automatically generated on this date.</span>
        </div>
    </div>

      <div class="box" id="box3">
      <div class="top"></div>
      <div class="bottom"></div>
        <div class="section">
          <div class="label">
            <div class="title">Step 3. Who is the organizer?</div>
            <div class="description">We'll need just your email so we can send you an access code in case you want to change stuff later.</div>
          </div>
          <div>
            <label>Email</label>
            <input class="textfield" id="creator_email"
                   name="creator_email" value="{{ creator_email }}">
            <!--
            <span class="small">
              <input type="radio" name="is_creator_participating"
                     value="True" onclick="remove_third_email_validator()"
                     checked>
              Participating?
              <input type="radio" name="is_creator_participating"
                     value="False" onclick="add_third_email_validator()">
              Just organizing?
            </span>
            -->
            <br>
            <label>Name</label>
            <input class="textfield" id="creator_name"
                   name="creator_name" value="{{ creator_name }}">
          </div>
          <div class="small" style="margin-top:3px">
            We'll never share you or your friends' info with
            anyone.  See our <a href="/privacy">privacy policy</a>.
          </div>
        </div>
      <div id="santa"></div>
      <div id="snowman"></div>
    </div>


    <input type="hidden" id="invitation_message" name="invitation_message" value=""/>

    <div id="dialog" class="box">
      <div class="section">
        <div class="label">
          <div class="description">An optional message to include in the invitation email.</div>
        </div>
        <textarea id="invitation_message_popup" name="invitation_message_popup" rows="5"
                  style="width:100%;padding:5px;font-size:77%"
                  ></textarea>
      </div>
    </div>

    <div class="next_box">
        <div class="section" style="text-align:right;line-height:2em">
          <span id="email_processing"
               style="display:none;margin-left:5px">
            <img src="/images/ajax-loader.gif" border=0 height=16 width=16>
          </span>
          <span id="email_done"
               class="LV_validation_message LV_valid" style="display:none">
            <!-- TODO(jesses): stop repeating this 2714 character -->
            &#x2714; <span style="font-size:77%">Done!</span>
          </span>
          <span id="email_error"
               class="LV_validation_message LV_invalid" style="display:none">
            <!-- TODO(jesses): stop repeating this 2716 character -->
            &#x2716; <span style="font-size:77%">
              There was a problem.  Please try again later.
            </span>
          </span>
          <button type="submit" class="submit" id="email">
            Send Invitations &raquo;
          </button>
        </div>
    </div>

    </form>

    <div id="footer">

    </div>

    <div id="ie_error_dialog" class="box">
      <div class="section">
        <br>
        Sorry, your browser (Internet Explorer) is not yet supported.  We're working hard to get it working soon.  <br>
        <br>
        In the meantime, try downloading <a href="http://getfirefox.com">Firefox</a> or <a href="http://google.com/chrome">Google Chrome</a> or click below to try anyway.
      </div>
    </div>
  </div>

  {% include "bottom_links.html" %}

    <script>
      var default_num_invitees = 4;
      var num_invitees = 1; // start at 1.  creator is 0.
      var third_email_validator;
      var creator; // needed as a handle into all validators

      function disable_submit() {
        $("#email").attr("disabled", "disabled");
      }

      function enable_submit() {
        $("#email").attr("disabled", "");
      }

      function add_more_invitees() {
        add_one_more_invitee();
        add_one_more_invitee();
        add_one_more_invitee();
        add_one_more_invitee();
      }

      function add_one_more_invitee() {
        invitee_email_list = document.getElementById('invitees');
        id = "invitee" + num_invitees;
        new_element = document.createElement('li');
        new_element.innerHTML = "<label>Email</label>"
                                + "<input class='textfield' id='"
                                + id + "_email"
                                + "' name='"
                                + id + "_email"
                                + "'>";

        invitee_email_list.appendChild(new_element);

        // add validation indicator
        var email_validator = new LiveValidation(
          "invitee" + num_invitees + "_email", {
          validMessage: "\u2714",
          onInvalid: on_invalid,
          onValid: on_valid
        });
        email_validator.add(Validate.Email, { failureMessage: "\u2716" });

        num_invitees++;
      }

      function add_default_invitees() {
        for (var i = 0; i < default_num_invitees; i ++) {
          add_one_more_invitee();
        }
      }

      function add_third_email_validator() {
        third_email_validator.destroy();

        // add validation indicator
        var email_validator = new LiveValidation(
          "invitee3_email", {
          validMessage: "\u2714",
          onInvalid: on_invalid,
          onValid: on_valid
        });
        email_validator.add(Validate.Email, { failureMessage: "\u2716" });
        email_validator.add(Validate.Presence, {
                                  failureMessage: "\u2716" });
        email_validator.validate();
        third_email_validator = email_validator;
      }

      function remove_third_email_validator() {
        third_email_validator.destroy();

        // add validation indicator
        var email_validator = new LiveValidation(
          "invitee3_email", {
          validMessage: "\u2714",
          onInvalid: on_invalid,
          onValid: on_valid
        });
        email_validator.add(Validate.Email, { failureMessage: "\u2716" });
        email_validator.validate();
        third_email_validator = email_validator;
      }

      function save_invitation_message() {
        var invitation_message = $("#invitation_message_popup").val();
        $.post("/save/invitation_message", {
          code: encodeURIComponent("{{ code }}"),
          invitation_message: encodeURIComponent(invitation_message)
          }
        );
      }

      function send_emails() {
        $("#email").attr("disabled", "disabled");

        // these two need to get shown just in case we re-enabled the button
        // due to an email failure
        $("#email_error").hide();
        $("#email_done").hide();
        $("#email_processing").show();

        $("#myform")[0].submit();
      }

      $(document).ready(function () {
        $("#ie_error_dialog").dialog({
          autoOpen: false,
          modal: true,
          title: "Sorry, Internet Explorer is not yet supported",
          draggable: false,
          width: 600,
          buttons: {
            "Try Anyway": function () {
              $(this).dialog("close");
            }
          }
        });

        var browser=navigator.appName;
        var b_version=navigator.appVersion;
        var version=parseFloat(b_version);
        if ((browser=="Microsoft Internet Explorer") && (version>=4)) {
          /* $("#ie_error_dialog").dialog("open"); */
        }

        $(":button").addClass("fg-button ui-state-default ui-corner-all");
        $(":button").hover(
          function(){
            $(this).addClass("ui-state-hover");
          },
          function(){
            $(this).removeClass("ui-state-hover");
          }
        );
        $(".box").tabs();

        // enabled the buttons on load just in case this was a refresh
        // for refreshes in FF/Mac, the buttons don't get re-enabled
        $("#show_assignments").click(function () {
          $("#show_assignments").toggle();
          $("#hide_assignments").toggle();
          $("#assignments").toggle("blind");
        });
        $("#hide_assignments").click(function () {
          $("#show_assignments").toggle();
          $("#hide_assignments").toggle();
          $("#assignments").toggle("blind");
        });

        $(":button").addClass("fg-button ui-state-default ui-corner-all");
        $(":button").hover(
          function(){
            $(this).addClass("ui-state-hover");
          },
          function(){
            $(this).removeClass("ui-state-hover");
          }
        );

        $("#signup_deadline").datepicker({
          defaultDate: +7,
          minDate: 0,
          duration: "",
          closeText: "X"
        });
        $("#exchange_date").datepicker({
          defaultDate: +14,
          minDate: +1,
          duration: ""
        });
        add_detail_validations();

        creator = new LiveValidation("creator_email", {
          validMessage: "\u2714",
          onInvalid: on_invalid,
          onValid: on_valid
        });
        creator.add(Validate.Presence, { failureMessage: "\u2716" });
        creator.add(Validate.Email, { failureMessage: "\u2716" });

        $("#dialog").dialog({
          autoOpen: false,
          modal: true,
          title: "Customize Email",
          draggable: false,
          width: 600,
          buttons: {
            "Send": function () {
              $("#invitation_message").val($("#invitation_message_popup").val());
              send_emails();
            },
            "Cancel": function () {
              $(this).dialog("close");
            }
          }
        });

        $("#myform").submit(function () {
          $("#dialog").dialog("open");
          return false;
        });

        add_default_invitees();

        if (LiveValidation.massValidate(creator.formObj.fields)) {
          enable_submit();
        } else {
          disable_submit();
        }
      });
    </script>
    <!-- secret-santa-organizer analytics -->
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
    <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-12042133-1");
      pageTracker._trackPageview();
      } catch(err) {}</script>
    <!-- main analytics -->
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-11702048-1");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>
    <script type="text/javascript" charset="utf-8">
      var is_ssl = ("https:" == document.location.protocol);
      var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
      document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript" charset="utf-8">
      var feedback_widget_options = {};

      feedback_widget_options.display = "overlay";
      feedback_widget_options.company = "secret_santa_organizer";
      feedback_widget_options.placement = "left";
      feedback_widget_options.color = "#222";
      feedback_widget_options.style = "question";

      var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
    </script>
    <!-- Start Quantcast tag -->
    <script type="text/javascript">
      _qoptions={
      qacct:"p-c1nN-Di9CqGS6"
      };
      </script>
    <script type="text/javascript" src="http://edge.quantserve.com/quant.js"></script>
    <noscript>
      <img src="http://pixel.quantserve.com/pixel/p-c1nN-Di9CqGS6.gif" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/>
      </noscript>
    <!-- End Quantcast tag -->
  </bo
