<html>
  <head>
    <title>{{ title }}</title>
    <link type="text/css"
          href="stylesheets/main.css"
          rel="stylesheet" />
    <link type="text/css"
          href="stylesheets/custom-theme/jquery-ui-1.7.2.custom.css"
          rel="stylesheet" />
    <script type="text/javascript"
            src="/javascript/jquery-1.3.2.min.js"></script>
    <script type="text/javascript"
            src="/javascript/jquery-ui-1.7.2.custom.min.js"></script>
    <script src="/javascript/livevalidation_standalone.js"></script>
  </head>
  <body>
    <h2>Manage</h2>

    <div class="box">
      <div class="section">
        <div class="label">
          <div class="title">Participants</div>
          <div class="description">See who is playing and resend emails.</div>
        </div>

        <div>
          <table>
            {% for assignment in assignments.items %}
            <tr>
              <td>
                <ul>
                  <li style="font-size:85%">
                    {% if assignment.0.name %}
                      {{ assignment.0.name }} ({{ assignment.0.email }})
                    {% else %}
                      {{ assignment.0.email }}
                    {% endif %}
                    &nbsp;&nbsp;
                  </li>
                </ul>
              </td>
              <td>
                <button class="resend_email"
                        onclick="show_resend_email_dialog(
                                 '{{ assignment.0.key }}',
                                 '{{ assignment.1.key }}')">
                  Resend Email &raquo;
                </button>
              </td>
              <td>
                <!-- TODO(jesses): this is copied from confirm.html.  refactor -->
                <div id="email_processing_{{ assignment.0.key }}"
                     style="display:none;margin-left:5px;">
                  <img src="/images/ajax-loader.gif" border=0 height=16 width=16>
                </div>
                <div id="email_done_{{ assignment.0.key }}"
                     class="LV_validation_message LV_valid" style="display:none">
                  <!-- TODO(jesses): stop repeating this 2714 character -->
                  &#x2714; <span style="font-size:77%">Done!</span>
                </div>
                <div id="email_error_{{ assignment.0.key }}"
                     class="LV_validation_message LV_invalid" style="display:none">
                  <!-- TODO(jesses): stop repeating this 2716 character -->
                  &#x2716; <span style="font-size:77%">
                    There was a problem.  Please try again later.
                  </span>
                </div>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="section">
        <div class="label">
          <div class="title">Assignments</div>
          <div class="description">Not recommended cuz it ruins the fun.</div>
        </div>

        <button id="show_assignments">
          + Show Assignments
        </button>
        <button id="hide_assignments" style="display:none">
          - Hide Assignments
        </button>

        <div class="table" id="assignments" style="display:none;">
          <table>
            <tr><th>From</th><th class="arrow">&raquo;</th><th>To</th></tr>
            {% for assignment in assignments.items %}
            <tr>
              <td>
                {% if assignment.0.name %}
                  {{ assignment.0.name }} ({{ assignment.0.email }})
                {% else %}
                  {{ assignment.0.email }}
                {% endif %}
              </tD>
              <td class="arrow">&raquo;</tD>
              <td>
                {% if assignment.1.name %}
                  {{ assignment.1.name }} ({{ assignment.1.email }})
                {% else %}
                  {{ assignment.1.email }}
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>

      </div> <!-- section -->
    </div> <!-- box -->

    <div id="dialog" class="box">
      <div class="section">
        <div class="label">
          <div class="description">
            In case you want to change what's in the email that gets sent.
          </div>
        </div>
        <textarea id="email_body" name="email_body" rows="5"
                  style="width:100%;padding:5px;font-size:77%"
                  >{{ email_body }}</textarea>
      </div>
    </div>

    <script>
      function resend_email(giver, receiver) {
        save_email_body();

        // these two need to get shown just in case we re-enabled the button
        // due to an email failure
        $("#email_error_" + giver).hide();
        $("#email_done_" + giver).hide();
        $("#email_processing_" + giver).show();

        $.post(
          "/email", {
          giver: encodeURIComponent(giver),
          receiver: encodeURIComponent(receiver),
          code: encodeURIComponent("{{ code }}")
          },
          function (data, textStatus) {
            if (textStatus == "success" && data == "OK") {
              $("#email_error_" + giver).hide();
              $("#email_done_" + giver).show();
              $("#email_processing_" + giver).hide();
            } else {
              $("#email_error_" + giver).show();
              $("#email_done_" + giver).hide();
              $("#email_processing_" + giver).hide();
            }
          }
        );
      }

      function show_assignments() {
        $("#show_assignments").attr("disabled", "disabled");
        $("#assignments").show();
      }

      function save_email_body() {
        var email_body = $("#email_body").val();
        $.post(
          "/save/email", {
          code: encodeURIComponent("{{ code }}"),
          email_body: encodeURIComponent(email_body),
          },
          function (data, textStatus) {
            if (textStatus == "success" && data == "OK") {
              $("#save_email_error").hide();
              $("#save_email_done").show();
              $("#save_email_processing").hide();
            } else {
              $("#save_email_error").show();
              $("#save_email_done").hide();
              $("#save_email_processing").hide();
            }
          }
        );
      }

      // on page load
      $(document).ready(function () {
        $(":button").addClass("fg-button ui-state-default ui-corner-all");
        $(":button").hover(
          function(){
            $(this).addClass("ui-state-hover");
          },
          function(){
            $(this).removeClass("ui-state-hover");
          }
        );
        $(".box").tabs();
        $("#show_assignments").attr("disabled", "");
        $("#show_assignments").click(function () {
          $("#show_assignments").toggle();
          $("#hide_assignments").toggle();
          $("#assignments").toggle("blind");
        });
        $("#hide_assignments").click(function () {
          $("#show_assignments").toggle();
          $("#hide_assignments").toggle();
          $("#assignments").toggle("blind");
        });

        $("#dialog").dialog({
          autoOpen: false,
          modal: true,
          title: "Customize Email",
          draggable: false,
          width: 600,
        });
      });

      function show_resend_email_dialog(giver, receiver) {
        $("#dialog").dialog("option", "buttons", {
            "Send": function () {
              $(this).dialog("close");
              resend_email(giver, receiver);
            },
            "Cancel": function () {
              $(this).dialog("close");
            }
          }
        );
        $("#dialog").dialog("open");
      }
    </script>
  </body>
  {{ debug_log }}
</html>
