<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <META NAME="Description" CONTENT="{{ meta_description }}">
    <META name="Keywords" content="{{ meta_keywords }}">
    <title>{{ title }}</title>
    <link type="text/css"
          href="/stylesheets/main.css"
          rel="stylesheet" />
    <link type="text/css"
          href="/stylesheets/{{ theme }}/jquery-ui-1.7.2.custom.css"
          rel="stylesheet" />
    <style>
      .name {
        display:inline-block;
        width:250px;
      }
      label {
        width:80px;
      }
      label.long {
        width:160px;
      }
      .signup_status {
        background-color:#fe9;
        padding:10px;;
        margin-bottom:5px;
      }
      #blacklist {
        padding-left:20px;
      }
      .blacklist_item .name {
        width:300px;
      }
      td.sender_name {
        font-weight:bold;
        text-align:right;
        vertical-align:top;
        padding-left:5px;
      }
      td.message {
        padding-left:10px;
      }
      #post_public_message, #anonymous_message_to_secret_santa, #anonymous_message_to_assignment {
        margin-top:5px;
      }
    </style>
    <script type="text/javascript"
            src="/javascript/jquery-1.3.2.min.js"></script>
    <script type="text/javascript"
            src="/javascript/jquery-ui-1.7.2.custom.min.js"></script>
    <script src="/javascript/livevalidation_standalone.js"></script>
    <script src="/javascript/common.js"></script>
  </head>
  <body>
    <div id="container">
    <div id="snow1"></div>
    <div id="snow2"></div>

    {% if flash %}
    <div class="flash">
      {{ flash }}
    </div>
    {% endif %}
    {% if error %}
    <div class="error">
      {{ error }}
    </div>
    {% endif %}
    <h1>
      <div id="badge">
        <a href="/"><img src="/images/badge.png"/></a>
      </div>
      My Info
    </h1>

    <div class="box">
        <div id="ads">
          <script type="text/javascript">
            <!--
                google_ad_client = "pub-1058195609102525";
                /* 120x600, created 12/4/09 */
                google_ad_slot = "0504422621";
                google_ad_width = 120;
                google_ad_height = 600;
                //-->
          </script>
          <script type="text/javascript"
                  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
          </script>
        </div>
      <div class="section">
        <div class="label">
          <div class="title">Exchange Details</div>
          <div class="description">So you can decide to participant or not.</div>
        </div>
        <div class="content">
          <ul>
            <li>
          <label class="long">Spend Limit:</label>
          ${{ price }}
            <li>
          <label class="long">Sign-up Deadline:</label>
          11:59PM on {{ signup_deadline }}
            <li>
          <label class="long">Exchange Location:</label>
          {{ location }}
            <li>
          <label class="long">Exchange Date:</label>
          {{ exchange_date }}
          <br>
        </div>
      </div>
    </div>

    {% if assignment %}
    <div class="box">
      <div class="section">
        <div class="label">
          <div class="title">Assignment</div>
          <div class="description">Sign-up deadline has passed and assignments are all set.</div>
        </div>
        <div class="warning">
          You need to buy a gift for {{ assignment }} by {{ exchange_date }}.
          {% if assignment.gift_hint %}
          <br/><br/>
          Here is their gift hint:<br/>
          &quot;{{ assignment.gift_hint }}&quot;
          {% endif %}
        </div>
      </div>
    </div>

    <div id="anonymous_message_to_secret_santa_dialog" class="box">
      <div class="section">
        <div class="label">
          <div class="description">You don't know who they are, but they know who you are.</div>
        </div>
        <div class="content">
          <form id="anonymous_message_to_secret_santa_form" action="/email/message" method="post">
            <input type="hidden" name="invitee_key" value="{{ participant.key }}"/>
            <input type="hidden" name="to_secret_santa" value="True"/>
            <input type="hidden" name="code" value="{{ code }}"/>
            <textarea rows="5"
                      style="width:100%;padding:5px;"
                      name="message"></textarea>
          </form>
        </div>
      </div>
    </div>

    <div id="anonymous_message_to_assignment_dialog" class="box">
      <div class="section">
        <div class="label">
          <div class="description">You know who they are, but they don't know who you are</div>
        </div>
        <div class="content">
          <form id="anonymous_message_to_assignment_form" action="/email/message" method="post">
            <input type="hidden" name="invitee_key" value="{{ participant.key }}"/>
            <input type="hidden" name="code" value="{{ code }}"/>
            <textarea rows="5"
                      style="width:100%;padding:5px;"
                      name="message"></textarea>
          </form>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="section">
        <div class="label">
          <div class="title">Anonymous Messages with your secret santa</div>
        </div>
        <div class="content" style="margin-top:10px;">
          {% if messages_with_secret_santa %}
          <table>
          {% for message in messages_with_secret_santa %}
            <tr>
              <td class="sender_name">
                {% if message.from_secret_santa %}
                Your Secret Santa:
                {% else %}
                You:
                {% endif %}
              </td>
              <td class="message">
                {{ message.message }}
              </td>
            </tr>
          {% endfor %}
          </table>
          {% endif %}
          <button id="anonymous_message_to_secret_santa">Send anonymous message to your secret santa &raquo;</button>
        </div>
      </div>
    </div>


    <div class="box">
      <div class="section">
        <div class="label">
          <div class="title">Anonymous Messages with your assignment</div>
        </div>
        <div class="content" style="margin-top:10px;">
          {% if messages_with_assignment %}
          <table>
          {% for message in messages_with_assignment %}
            <tr>
              <td class="sender_name">
                {% if not message.from_secret_santa %}
                Your Assignment:
                {% else %}
                You:
                {% endif %}
              </td>
              <td class="message">
                {{ message.message }}
              </td>
            </tr>
          {% endfor %}
          </table>
          {% endif %}
          <button id="anonymous_message_to_assignment">Send anonymous message to your assignment &raquo;</button>
        </div>
      </div>
    </div>
    {% else %}
    <form id="signup_form" method="post" action="{% if participant.signed_up %}
                                                 /remove/participant
                                                 {% else %}
                                                 /add/participant
                                                 {% endif %}">
    <div class="box">
      <div class="section">
        <div class="label">
          <div class="title">Sign-up</div>
          <div class="description">Give your secret santa some helpful info.</div>
        </div>
        {% if participant.signed_up %}
        <div class="signup_status" style="margin-top:10px;margin-bottom:20px;">
          You are signed up.
        </div>
        {% endif %}
          <div class="content" style="padding-top:10px">
            <input type="hidden" name="participant_key"
                   value="{{ participant.key }}">
            <input type="hidden" name="code"
                   value="{{ code }}">
            <input type="hidden" id="continue_url" name="continue_url">
            <label>Your Name</label>
            <input class="textfield" id="name"
                   name="name" value="{{ participant.name }}">
            <br>
            <label>Gift Hint</label>
            <input class="textfield" id="gift_hint"
                   name="gift_hint" value="{{ participant.gift_hint }}">
            <br>
              <label style="vertical-align:top">Blacklist</label>
              <div style="display:inline-block">
                <ul id="blacklist">
                </ul>
                <button id="add_blacklist">
                  + Add
                </button>
              </div>
          </div>
        {% if participant.signed_up %}
        <input type="hidden" name="save_only" value="True">
        <button class="submit" id="save_changes" style="margin-top:10px;margin-bottom:0">
          Save
        </button>
        {% endif %}
        <button id="submit" class="submit" name="submit" style="margin-top:10px;margin-bottom:0">
          {% if not participant.signed_up %}
          Sign up
          {% else %}
          Save and Unsign up
          {% endif %}
          &raquo;
        </button>
      </div>
    </div>
    </form>
    {% endif %}

    <div class="box">
      <div class="section">
        <div class="label">
          <div class="title">Event Message Board</div>
          <div class="description">Only people invited to this event can see and post here.</div>
        </div>
        <div class="content" style="margin-top:10px;">
          {% if public_messages %}
          <table>
          {% for message in public_messages %}
            <tr>
              <td class="sender_name">
                {{ message.sender }}:
              </td>
              <td class="message">
                {{ message.message }}
              </td>
            </tr>
          {% endfor %}
          </table>
          {% endif %}
          <button id="post_public_message">Post message &raquo;</button>
        </div>
      </div>
    </div>

    <div id="public_message_dialog" class="box">
      <div class="section">
        <div class="label">
          <div class="description">Post messages to this event board.</div>
        </div>
        <div class="content">
          <form id="public_message_form" action="/post/public_message" method="post">
            <input type="hidden" name="sender_key" value="{{ participant.key }}"/>
            <input type="hidden" name="code" value="{{ code }}"/>
            <textarea rows="5"
                      style="width:100%;padding:5px;"
                      name="message"></textarea>
          </form>
        </div>
      </div>
    </div>

    <div class="box">
      Create your own secret santa with co-workers, friends, or family.
      <button onclick="window.location='/'">Get Started &raquo;</button>
    </div>

    <div id="blacklist_dialog" class="box">
      <div class="section">
        <div class="label">
          <div class="description">Someone you don't want to buy a gift for.  Unfortunately, if too many people enter too many blacklists, we may have to randomly remove blacklists to generate assignments. We have sophisticated algorithms to make sure this is done fairly.</div>
        </div>
        <div class="content" id="blacklist_dialog_content">
          <div id="no_blacklist_msg" class="warning">
            You gotta have at least one person not blacklisted.  Try removing someone and trying again.
          </div>
          <select id="blacklist_selection" name="blacklist_selection">
            {% for invitee in blacklist_options %}
            <option id="blacklist_{{ invitee.key }}" value="{{ invitee.key }}">
              {{ invitee }}
            </option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>

    </div>
  {% include "bottom_links.html" %}

    <script>
      // number of blacklist items there are.  used when dynamically adding blacklist entries
      num_blacklists = 0;

      function add_one_blacklist_item(name, key) {
        if (num_blacklists == 0) {
          // previously no blacklists, clear out none msg
          $("#blacklist").html("");
        }
        $("#blacklist").append("<li class='blacklist_item' id='blacklist_item"
                                                               + num_blacklists
                                                               + "'><div class='name'>"
          + name
          + "</div><input type='hidden' name='blacklist"
                                              + num_blacklists
                                              + "' value='"
                                                          + key
                                                          + "'/><button onclick='remove_blacklist("
                                                                                 + num_blacklists
                                                                                 + ", \""
                                                                                 + key
                                                                                 + "\", \""
                                                                                 + name
                                                                                 + "\");return false;'>Remove</button></li>");

        num_blacklists++;

        // remove the item from the blacklist selection box
        $("#blacklist_" + key).remove();
        update_blacklist_dialog();
      }

      function remove_blacklist(num, key, name) {
        $("#blacklist_item" + num).remove();

        // add it back into the blacklist selection box
        $("#blacklist_selection").append(
            "<option id='blacklist_" + key + "' value='" + key + "'>"
            + name
            + "</option>"
        );
        update_blacklist_dialog();
      }

      function blacklist_init() {
        // add an item for each blacklist already existing
        {% if blacklist %}
          {% for item in blacklist %}
          add_one_blacklist_item("{{ item }}", "{{ item.key }}");
          {% endfor %}
        {% endif %}
      }

      function my_enable_submit() {
        if ($("#blacklist_dialog").parent().get(0) != document.body) {
          $("button", $("#blacklist_dialog").parent())[0].disabled = false;
        }
      }

      function my_disable_submit() {
        if ($("#blacklist_dialog").parent().get(0) != document.body) {
          $("button", $("#blacklist_dialog").parent())[0].disabled = true;
        }
      }

      function update_blacklist_dialog() {
        if ($("#blacklist_selection option").length <= 1) {
          $("#no_blacklist_msg").show();
          $("#blacklist_selection").hide();
          my_disable_submit();
        } else {
          $("#no_blacklist_msg").hide();
          $("#blacklist_selection").show();
          my_enable_submit();
        }
      }

      function blacklist_dialog_init() {
        $("#blacklist_dialog").dialog({
          autoOpen: false,
          modal: true,
          title: "Add Person to Blacklist",
          draggable: false,
          width: 650,
          buttons: {
            "Add": function () {
              key = $("#blacklist_selection").val();
              name = $("#blacklist_" + key).html();
              add_one_blacklist_item(name, key);
              common_init(); // add button styles
              $(this).dialog("close");
            },
            "Cancel": function () {
              $(this).dialog("close");
            }
          }
        });

        $("#add_blacklist").click(function () {
          enable_submit = my_enable_submit;
          disable_submit = my_disable_submit;
          $("#blacklist_dialog").dialog("open");
          return false;
        });

        update_blacklist_dialog();
      }

      function save_changes() {
        $("#signup_form").attr("action",
          {% if participant.signed_up %}
            "/add/participant"
          {% else %}
            "/remove/participant"
          {% endif %}
        );
        $("#signup_form")[0].submit();
      }

      function signup_form_init() {
        // for the signup form
        $("#continue_url").val(window.location);
        $("#submit").click(function () {
          $("#signup_form")[0].submit();
        });
        $("#save_changes").click(save_changes);
      }

      function anonymous_message_init() {
        $("#anonymous_message_to_secret_santa_dialog").dialog({
          autoOpen: false,
          modal: true,
          title: "Send Anonymous Message to your Secret Santa",
          draggable: false,
          width: 650,
          buttons: {
            "Send": function () {
              $("#anonymous_message_to_secret_santa_form").submit();
            },
            "Cancel": function () {
              $(this).dialog("close");
            }
          }
        });
        $("#anonymous_message_to_assignment_dialog").dialog({
          autoOpen: false,
          modal: true,
          title: "Send Anonymous Message to your assignment",
          draggable: false,
          width: 650,
          buttons: {
            "Send": function () {
              $("#anonymous_message_to_assignment_form").submit();
            },
            "Cancel": function () {
              $(this).dialog("close");
            }
          }
        });
        $("#anonymous_message_to_secret_santa").click(function () {
          $("#anonymous_message_to_secret_santa_dialog").dialog("open");
        });
        $("#anonymous_message_to_assignment").click(function () {
          $("#anonymous_message_to_assignment_dialog").dialog("open");
        });
      }

      function public_message_init() {
        $("#public_message_dialog").dialog({
          autoOpen: false,
          modal: true,
          title: "Post a Message",
          draggable: false,
          width: 650,
          buttons: {
            "Post": function () {
              $("#public_message_form").submit();
            },
            "Cancel": function () {
              $(this).dialog("close");
            }
          }
        });
        $("#post_public_message").click(function () {
          $("#public_message_dialog").dialog("open");
        });
      }

      $(document).ready(function() {
        signup_form_init();
        blacklist_init();
        blacklist_dialog_init();  // must come after blacklist_init()
        anonymous_message_init();
        public_message_init();

        // do this last so that js added buttons get the css styles too
        common_init();
      });
    </script>
    <!-- secret-santa-organizer analytics -->
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
    <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-12042133-1");
      pageTracker._trackPageview();
      } catch(err) {}</script>
    <!-- main analytics -->
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-11702048-1");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>
    <script type="text/javascript" charset="utf-8">
      var is_ssl = ("https:" == document.location.protocol);
      var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
      document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript" charset="utf-8">
      var feedback_widget_options = {};

      feedback_widget_options.display = "overlay";
      feedback_widget_options.company = "secret_santa_organizer";
      feedback_widget_options.placement = "left";
      feedback_widget_options.color = "#222";
      feedback_widget_options.style = "question";

      var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
    </script>
    <!-- Start Quantcast tag -->
    <script type="text/javascript">
      _qoptions={
      qacct:"p-c1nN-Di9CqGS6"
      };
      </script>
    <script type="text/javascript" src="http://edge.quantserve.com/quant.js"></script>
    <noscript>
      <img src="http://pixel.quantserve.com/pixel/p-c1nN-Di9CqGS6.gif" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/>
      </noscript>
    <!-- End Quantcast tag -->
  </body>
</html>
