<html>
  <head>
    <title>{{ title }}</title>
    <link type="text/css"
          href="stylesheets/main.css"
          rel="stylesheet" />
    <link type="text/css"
          href="stylesheets/{{ theme }}/jquery-ui-1.7.2.custom.css"
          rel="stylesheet" />
    <style>
      .name {
        display:inline-block;
        width:250px;
      }
      label.long {
        width:160px;
      }
      .signup_status {
        background-color:#fe9;
        padding:5px;
        margin-bottom:5px;
      }
    </style>
    <script type="text/javascript"
            src="/javascript/jquery-1.3.2.min.js"></script>
    <script type="text/javascript"
            src="/javascript/jquery-ui-1.7.2.custom.min.js"></script>
    <script src="/javascript/livevalidation_standalone.js"></script>
    <script src="/javascript/common.js"></script>
  </head>
  <body>
    <h2>Sign-up</h2>

    <div class="box">
      <div class="section">
        <div class="label">
          <div class="title">Game Details</div>
          <div class="description">So you can decide to participant or not.</div>
        </div>
        <div class="content">
          <ul>
            <li>
          <label class="long">Price:</label>
          ${{ price }}
            <li>
          <label class="long">Location:</label>
          {{ location }}
            <li>
          <label class="long">Sign-up Deadline:</label>
          11:59pm on {{ signup_deadline }}
            <li>
          <label class="long">Gift Exchange Date:</label>
          11:59pm on {{ exchange_date }}
          <br>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="section">
        <div class="label">
          <div class="title">Sign-up</div>
          <div class="description">Give your secret santa some helpful info.</div>
        </div>
        <div class="content">
          <form id="signup_form" method="post">
            <input type="hidden" name="participant_key"
                   value="{{ participant.key }}">
            <input type="hidden" name="code"
                   value="{{ code }}">
            <input type="hidden" id="continue_url" name="continue_url">
            <label>Name</label>
            <input class="textfield" id="name"
                   name="name" value="{{ participant.name }}">
            <br>
            <label>Gift Hint</label>
            <input class="textfield" id="gift_hint"
                   name="gift_hint" value="{{ participant.gift_hint }}">
            <br>
            <!--
            <label>Blacklist</label>
            <select id="blacklist" name="blacklist">
              <option value="">
                None
              </option>
              {% for invitee in invitees %}
              <option value="{{ invitee.key }}">
                {{ invitee }}
              </option>
              {% endfor %}
            </select>
            -->
          </form>
        </div>
        {% if participant.signed_up %}
        <div class="signup_status">
          You are signed up.
        </div>
        {% endif %}
        {% if not participant.signed_up %}
        <button onclick="signup()">
          Sign-up
        </button>
        {% else %}
        <button onclick="unsignup()">
          Un-signup
        </button>
        {% endif %}
      </div>
    </div>


    <script>
      function signup () {
        $("#signup_form").attr("action", "/add/participant");
        $("#continue_url").val(window.location);
        $("#signup_form").submit();
      }

      function unsignup() {
        $("#signup_form").attr("action", "/remove/participant");
        $("#continue_url").val(window.location);
        $("#signup_form").submit();
      }

      $(document).ready(function() {
        common_init();
      });
    </script>
  </body>
</html>
