/* I decided to use the YUI Fonts package which is included in the HTML.  */
/* table used to control the font sizes */

/* If you want this size in pixels (px)  Declare this percent (%) */
/* 10 77 */
/* 11 85 */
/* 12 93 (was 93) */
/* 13 100 */
/* 14 108 (was 107) */
/* 15 116 (was 114) */
/* 16 123.1 (was 122) */
/* 17 131 (was 129) */
/* 18 138.5 (was 136) */
/* 19 146.5 (was 144) */
/* 20 153.9 (was 152) */
/* 21 161.6 (was 159) */
/* 22 167 */
/* 23 174 */
/* 24 182 */
/* 25 189 */
/* 26 197 */


body {
    font-family:verdana;
    font-size:93%;
    color:#333;
}
h1 {
    font-size:146.5%;
    font-weight:normal;
    width:600px;
    margin-left:auto;
    margin-right:auto;
}
h2 {
    font-size:108%;
    width:600px;
    margin-left:auto;
    margin-right:auto;
}
div.box {
    background-color:#F9F9F9;
    border:1px solid #CACACA;
    padding:20px;
    width:600px;
    margin:0 auto;
    margin-bottom:20px;
}
div.next_box {
    width:640px;
    margin:0 auto;
}
ol {
    padding:0;
    margin-top:0;
    margin-bottom:0;
    list-style-type:decimal;
}
ul {
    padding:0;
    margin-top:0;
    margin-bottom:0;
}
label {
    width:60px;
    display:inline-block;
    line-height:2em;
}
.small {
    font-size:10px;
    height:1.85em;
}
div.section {
    /* margin-bottom:1em; */
}
div.label {
    margin-bottom:5px;
}
div.label div.description {
    font-size:77%;
}
input.textfield {
    background: #FFFFFF url(/images/input_bg.gif) no-repeat scroll left top;
    border:1px solid #A8A687;
    height:30px;
    padding:3px;
    width:300px;
    padding-left:10px;
    padding-top:5px;
}
div.code {
    font-family:courier;
    font-size:85%;
    border:1px solid black;
    padding:5px;
    background-color:#0ff;
}
div.table {
    margin-left:10px;
    font-size:77%;
}
button {
    font-size:15px;
    height:1.85em;
}
.submit {
    font-size:197%;
    height:50px;
}

.LV_validation_message {
    margin-left:3px;
    font-weight:bold;
    line-height:1.8em;
}
.LV_invalid {
    color:#c00;
}
.LV_valid {
    color:#0c0;
}
#assignments {
    margin-top:5px;
}
